<!-- <!DOCTYPE html>
<html lang="cn">
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h1>一个简单的花卉识别系统</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>上传的图片：</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>搜索结果：</h2>
            {% for score in scores %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ score[1] }}" height="200px">
                <figcaption>{{ score[0] }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>CBIR COREL IMAGE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/files.css">
    <style>
        #ïmag {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            float: center;
            width: 30%;
        }

        #input {
            font-family: Poppins-Medium;
            font-size: 15px;
            line-height: 1.5;
            color: #666666;
            visibility: visible;
            display: block;
            width: 100%;
            background: #e6e6e6;
            height: 50px;
            border-radius: 25px;
            padding: 0 30px 0 68px;
        }

        figure img {
            vertical-align: top;
        }

        figure figcaption {
            text-align: center;
        }
    </style>
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="wrap-title">
                    <span class="login100-form-mytitle">
                        CBIR for COREL IMAGE 
                    </span>
                    <h3>Wien Nurul Dewani <br> Kurniawan Khaikal</h3>
                </div>

                <!-- preview image -->
                <div class="login100-pic js-tilt" data-tilt>
                    <img id="image-preview" src="{{ query_path }}" />
                </div>
                <!-- end of preview image -->

                <!--query by upload -->
                <form class="login100-form validate-form" method=post enctype=multipart/form-data> <span
                        class="login100-form-title">
                        Upload an Image File
                    </span>
                    <div class="container-login100-form-btn">
                        <div class="wrap-input100 validate-input" data-validate="Image file is required" id="input">
                            <input class="input100" id="image-source" name="query_img" onchange="previewImage();"
                                type="file" alt="Input Image" accept="image/jpeg,image/jpg,image/png">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-file" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Execute
                        </button>
                    </div>
                </form>
                <!-- end of query by upload -->

                <!-- query sample -->
                <h2 style="padding-left: 10px;">
                    Query Sample
                </h2>

                <section class="contact-section centred" style="padding-top:10px;" id="predict2">
                    <div class="container">
                        <table>
                            <tr>
                                <td>
                                    <div class="row" style="padding-bottom: 1%;">
                                        <div class="column">
                                            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                                                <figcaption>
                                                    File: 370.jpg
                                                </figcaption>
                                                <form action="/" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="query_img" id="count"
                                                        value="static/image_db/370.jpg" />
                                                    <input type="image" name="submit"
                                                        onclick="change('static/img/370.jpg')"
                                                        style="padding-left: 10%;"
                                                        src="{{ url_for('static', filename='img/370.jpg')}}"  width="224px" height="224px" />
                                                </form>
                                            </figure>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row" style="padding-bottom: 1%;">
                                        <div class="column">
                                            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                                                <figcaption>
                                                    File: 377.jpg
                                                </figcaption>
                                                <form action="/" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="query_img" id="count"
                                                        value="static/image_db/377.jpg" />
                                                    <input type="image" name="submit"
                                                        onclick="change('static/img/650.jpg')"
                                                        style="padding-left: 10%;"
                                                        src="{{ url_for('static', filename='img/650.jpg')}}"  width="224px" height="224px" />
                                                </form>
                                            </figure>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
                <!-- end of query sample -->

                <!-- retrieval result -->
                {% if scores %}
                <h2 style="padding-left: 10px;">
                    Retrieval Result
                </h2>

                <section class="contact-section centred" style="padding-top:10px;" id="retrievalresult">
                    <div class="container">
                        <table>
                            <tr>
                                {% for col_num in range(3) %}
                                <td>
                                    <div class="row" style="padding-bottom: 1%;">
                                        <div class="column">
                                            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                                                <figcaption>
                                                    Similarity Distance: {{ scores[col_num][0]|float|round(3) }}
                                                    <br>File: {{ scores[col_num][1].name }}
                                                </figcaption>
                                                <img src="{{ scores[col_num][1] }}" width="224px" height="224">
                                            </figure>
                                        </div>
                                    </div>
                                </td>
                                {% endfor %}
                            </tr>
                            </tr>
                            <tr>
                                {% for col_num in range(3,6) %}
                                <td>
                                    <div class="row" style="padding-bottom: 1%;">
                                        <div class="column">
                                            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                                                <figcaption>
                                                    Similarity Distance: {{ scores[col_num][0]|float|round(3) }}
                                                    <br>File: {{ scores[col_num][1].name }}
                                                </figcaption>
                                                <img src="{{ scores[col_num][1] }}" width="224px" height="224px">
                                            </figure>
                                        </div>
                                    </div>
                                </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for col_num in range(6,9) %}
                                <td>
                                    <div class="row" style="padding-bottom: 1%;">
                                        <div class="column">
                                            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                                                <figcaption>
                                                    Similarity Distance: {{ scores[col_num][0]|float|round(3) }}
                                                    <br>File: {{ scores[col_num][1].name }}
                                                </figcaption>
                                                <img src="{{ scores[col_num][1] }}" width="224px" height="224px">
                                            </figure>
                                        </div>
                                    </div>
                                </td>
                                {% endfor %}
                        </table>
                    </div>
                </section>
                {% endif %}
                <!-- end of retrieval result -->
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="static/js/files.js"></script>
    <!--===============================================================================================-->
    <script src="static/js/main.js"></script>
</body>

</html>